---
index: true
---

<section class="section">
    <div class="container">
        <header class="mb-4 mb-6-sm">
            <h1 class="js-split-words">
                <div class="f24 f36-sm f48-lg">
                    {{ site.data.home.intro.name }}
                </div>
                <div class="txt__heading-l">
                    {{ site.data.home.intro.description }}
                </div>
            </h1>
        </header>
        <article class="txt js-scroll-magic">
            <p class="txt__body pb-3-sm js-tr tr-stag">
                {{ site.data.home.about.description }}
            </p>
        </article>
    </div>
</section>

<section class="section" id="work">
    {% for entry in site.posts %}
    {% include tile.html %}
    {% endfor %}
</section>