---
---

<section class="section">
    <div class="container">
        <header class="txt">
            <h1>
                <span class="txt__body db">
                    {{ site.data.home.intro.name }}
                </span>
                <span class="txt__heading">
                    {{ site.data.home.intro.description }}
                </span>
            </h1>
        </header>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="tile-grid">
            {% for entry in site.posts %}
            {% include tile.html %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <article class="txt">
            <p class="txt__body mb-2 mb-3-sm">
                {{ site.data.home.about.description }}
            </p>
            <a href="/about" class="link link--arrow">
                <span class="mono">→ </span>
                {{ site.data.home.about.link }}
            </a>
        </article>
    </div>
</section>