<header class="header">
    <div class="container header__container">
        <figure class="header__logo">
            <a href="/" aria-label="logo">{% include svg/logo.svg %}</a>
        </figure>
        <div>
            <nav class="header__nav">
                <a href="{% unless page.url=='/'%}/{%endunless%}#work"
                    class="header__item js-liquid-hover {% if page.url=='/'%}js-scroll-to{% endif %}">
                    <span>work</span>
                </a>
                <a href="/about" class="header__item js-liquid-hover">
                    <span>about</span>
                </a>
                <a class="header__item header__item--settings lh-none js-settings">
                    {% include svg/icons/settings.svg %}
                </a>
            </nav>
        </div>
    </div>
</header>