<header class="header">
    <div class="container header__container">
        <figure class="header__logo">
            <a href="/">{% include svg/logo.svg %}</a>
        </figure>
        <div>
            <nav class="header__nav">
                <a href="/" class="header__item link">work</a>
                <a href="/about" class="header__item link">about</a>
                <!-- <a class="header__item lh-none js-settings">
                    {% include svg/icons/settings.svg %}
                </a> -->
            </nav>
        </div>
    </div>
</header>