<div class="modal js-settings-modal">
    <div class="container">
        <div class="modal__close js-settings-close">
            {% include svg/icons/close.svg %}
        </div>
        <div class="modal__container">
            <div class="modal__wrapper">
                <h2 class="txt__heading mb-6 js-settings-stag">Settings</h2>
                <fieldset class="mb-6">
                    <legend class="mb-1 js-settings-stag">Appearance</legend>
                    <div class="toggle js-settings-stag">
                        <button class="toggle__button">Dark</button>
                        <button class="toggle__button is-active">Light</button>
                    </div>
                </fieldset>
                <fieldset class="mb-6">
                    <legend class="mb-1 js-settings-stag">Typography</legend>
                    <div class="toggle js-settings-stag">
                        <button class="toggle__button is-active">Sans</button>
                        <button class="toggle__button">Serif</button>
                    </div>
                </fieldset>
                <fieldset class="txt-r js-settings-stag">
                    <button class="button js-settings-submit">Done</button>
                </fieldset>
            </div>
        </div>
    </div>
</div>