<div class="modal js-settings-modal">
    <div class="container">
        <div class="modal__close js-settings-close">
            {% include svg/icons/close.svg %}
        </div>
        <div class="modal__container">
            <div class="modal__wrapper">
                <h2 class="txt__heading-m f60-lg mb-6 js-settings-stag js-settings-label">Settings</h2>
                <fieldset class="mb-6">
                    <legend class="mb-1 js-settings-stag js-settings-label">Appearance</legend>
                    <div class="df js-settings-toggle js-settings-stag" toggle="appearance">
                        <button class="button button--toggle js-settings-btn js-liquid-hover" y="0">
                            <span>Dark</span>
                        </button>
                        <button class="button button--toggle js-settings-btn js-liquid-hover is-active" y="0">
                            <span>Light</span>
                        </button>
                    </div>
                </fieldset>
                <fieldset class="mb-6">
                    <legend class="mb-1 js-settings-stag js-settings-label">Typography</legend>
                    <div class="df js-settings-toggle js-settings-stag" toggle="typography">
                        <button class="button button--toggle js-settings-btn js-liquid-hover is-active" y="0">
                            <span>Sans</span>
                        </button>
                        <button class="button button--toggle js-settings-btn js-liquid-hover" y="0">
                            <span>Serif</span>
                        </button>
                    </div>
                </fieldset>
                <fieldset class="txt-r js-settings-stag">
                    <button class="button button--primairy w-50 js-settings-submit js-liquid-hover">
                        <span>Done</span>
                    </button>
                </fieldset>
            </div>
        </div>
    </div>
</div>