.header {
    position: fixed;
    width: 100%;
    margin-top: space(4);
    z-index: 666;

    @include respond-min($l) {
        margin-top: 64px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    flex-shrink: 0;
    position: relative;
    top: 6px;
    width: 50px;

    svg {
        fill: $brand;
    }
}

.header__nav {
    position: relative;
    top: -5px;
    display: flex;
    align-items: center;
}

.header__item {
    @include center;
    margin-left: space(4);
    height: 36px;
    @include font(14px, normal, $lh-solid);
    font-family: $mono;
    cursor: pointer;

    @include respond-min($ml) {
        margin-left: 32px;
        font-size: toRem(16px);
    }

    svg {
        fill: $brand;
        transition: all 500ms $ease;
    }
}

.header__item--settings {
    position: relative;
    top: 1px;
    width: 36px;
    margin-left: 16px;
    margin-right: -8px;

    @include respond-min($ml) {
        margin-left: 24px;
    }

    &:hover {
        svg {
            transform: rotate(90deg);
        }
    }
}