.modal {
    @include full(fixed);
    display: none;
    transform: scaleX(0);
    transform-origin: 100% 0%;
    background-color: $light;
    z-index: 999;
    overflow: hidden;
}

.modal--scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.modal__container {
    @include center;
    height: calc(100vh - 60px);

    @include respond-min($ml) {
        height: 100vh;
    }
}

.modal__wrapper {
    width: 100%;
    max-width: 400px;
}

.modal__label {
    font-family: $sans;
    margin-bottom: space(1);
}

.modal__close {
    @include center;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 48px;
    height: 48px;
    transform: scale(0);
    cursor: pointer;

    svg {
        stroke: $brand;
        stroke-width: 2px;
        width: 18px;
        transition: $fade-all;
    }

    &:hover {
        svg {
            transform: rotate(90deg);
        }
    }

    @include respond-min($ml) {
        top: 56px;
        right: 36px;

        svg {
            width: 24px;
        }
    }
}