.header {
    position: fixed;
    width: 100%;
    margin-top: $gutter;
    z-index: 666;

    @include md {
        margin-top: 64px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    top: 6px;

    svg {
        stroke: $brand;
        height: 60px;
    }
}

.header__nav {
    position: relative;
    top: -5px;
    display: flex;
    align-items: center;
}

.header__item {
    @include center;
    margin-left: $gutter;
    height: 36px;
    @include font(16px, normal, $lh-solid);
    cursor: pointer;
    font-family: $sans;

    @include sm {
        margin-left: 32px;
        font-size: toRem(18px);
    }

    svg {
        fill: $brand;
        transition: all 500ms $ease;
    }
}

.header__item--settings {
    position: relative;
    top: 1px;
    width: 36px;
    margin-left: 16px;
    margin-right: -8px;

    @include sm {
        margin-left: 24px;
    }

    &:hover {
        svg {
            transform: rotate(90deg);
        }
    }
}