.modal {
    @include full(fixed);
    display: none;
    opacity: 0;
    transform: scale(0);
    transform-origin: 100% 0%;
    background-color: $light;
    z-index: 999;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @include sm {
        transform-origin: 50% 70%;
    }
}

.modal__close {
    @include center;
    position: absolute;
    top: 18px;
    right: 18px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transform: scale(0);

    svg {
        stroke: $brand;
        stroke-width: 2px;
        width: 18px;
        transition: $fade-all;
    }

    &:hover {
        svg {
            transform: rotate(90deg);
        }
    }

    @include sm {
        top: 64px;
        right: $double-gutter;

        svg {
            width: 24px;
        }
    }
}