.tile {
    display: block;
    position: relative;
    padding: $gutter 0;
    height: 108px;
    border-bottom: 1px solid rgba($brand, 0.2);
    overflow: hidden;

    @include sm {
        height: 160px;
    }

    &:first-child {
        border-top: 1px solid rgba($brand, 0.2);
    }

    &:before {
        content: '';
        @include full(absolute);
        background-color: rgba($brand, 0.05);
        opacity: 0;
        transition: opacity 2s $ease-out;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.tile__title {
    @include font(20px, 600, $lh-title);
    margin-bottom: 4px;

    @include sm {
        font-size: toRem(24px);
    }
}

.tile__subtitle {
    font-family: $mono;
    @include font(10px, normal, $lh-title);

    @include sm {
        font-size: toRem(12px);
    }
}

.tile__arrow {
    font-size: toRem(20px);
    font-family: $mono;
}