// misc
// --------------------------------------------------
.splash {
    @include full(fixed);
    @include center;
    background-color: $dark-dark;
    z-index: 99999999;
    color: $light;
    text-align: center;
}

.meta {
    font-family: $mono;
    font-size: toRem(10px);
    margin-bottom: 4px;
}

.serif-ns {
    display: none;
}

.split {
    visibility: hidden;

    &.is-active {
        visibility: visible;
    }
}