.button {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 $gutter;
    min-width: 132px;
    height: 36px;

    font-family: $mono;
    @include font(14px, normal, 0);
    color: $brand;
    text-align: center;
    border: 1px solid $brand;
    border-radius: 100px;
    transition: $fade-all;
}

.button--primairy {
    border: none;
    background-color: $brand;
    color: $light;

    &:hover {
        @keyframes scale-io-btn {
            0% {transform: scale(1);}
            50% {transform: scale(1.04);}
            100% {transform: scale(1);}
        }
        animation: scale-io-btn 380ms $ease both;
    }
}

.button--toggle {
    margin-left: -1px;
    width: 100%;
    border-radius: 0;
    @extend .link;

    &:first-child {
        margin-left: 0;
    }

    &.is-active {
        background-color: rgba($brand, 0.1);
    }
}