// links
// --------------------------------------------------

.arrow-link {
    position: relative;
    font-family: $mono;
    font-size: toRem(14px);

    @include sm {
        font-size: toRem(16px);
    }

    &:after {
        content: '';
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% + 2px);
        top: 0;
        left: 20px;
        border-bottom: 1px solid rgba($brand, 0);
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: $fade-link;
    }

    &:hover {
        &:after {
            border-bottom: 1px solid rgba($brand, 1);
            transform: scaleX(1);
        }
    }
}