.tile {
    position: relative;
    @include center;
    padding: $half-gutter;
    height: 172px;
    border: 1px solid $brand;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    background-color: $light;

    @include sm {
        height: 240px;
    }

    @include md {
        height: 380px;
    }

    &:hover {
        .tile__img {
            opacity: 1;
        }
    }
}

.tile__title {
    @include font(16px, normal, $lh-title);
    margin-bottom: 3px;

    @include xs {
        font-size: toRem(18px);
    }

    @include sm {
        font-size: toRem(24px);
    }
}

.tile__role {
    font-family: $mono;
    @include font(10px, normal, $lh-title);

    @include sm {
        font-size: toRem(12px);
    }
}

.tile__img {
    @include center;
    @include full(absolute);
    padding: $half-gutter;
    background-color: $brand;
    opacity: 0;
    transition: $fade-all;

    svg {
        width: 100%;
        fill: $light;
    }
}