// misc
// --------------------------------------------------
.loader {
    @include full(fixed);
    @include center(flex);
    background-color: $dark-dark;
    z-index: 99999999;
    color: $light;
    text-align: center;
}

.meta {
    font-family: $mono;
    font-size: toRem(10px);
    margin-bottom: 4px;
}

.video {
    position: relative;
    width: calc(100% + 8px);
    left: -4px;
}

.border {
    border: 1px solid $grey-8;
}

.serif-ns {
    display: none;
}