.footer {
    overflow: hidden;
    padding-bottom: space(4);

    @include respond-min($l) {
        padding-bottom: 64px;
    }
}

.footer__grid {
    display: grid;
    align-items: center;

    @include respond-min($sm) {
        grid-template-columns: 1fr max-content;
    }
}

.footer__soci {
    display: flex;
    align-items: center;
    margin-left: -7px;
}

.footer__icon {
    @include center;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    transition: $fade-all;

    svg {
        width: 100%;
        fill: $brand;
    }

    &:hover {
        @keyframes scale-io {
            0% {transform: scale(1);}
            50% {transform: scale(1.17);}
            100% {transform: scale(1);}
        }
        animation: scale-io 380ms $ease both;
    }
}

.footer__disclaimer {
    display: none;
    margin-top: space(1);
    font-size: toRem(12px);
    font-family: $sans;

    @include respond-min($sm) {
        display: block;
        margin: 0;
    }
}