// links
// --------------------------------------------------
.link {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba($brand, 0);
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: $fade-link;

        @include sm {
            width: 100%;
            left: 0;
        }
    }

    &:hover {
        &:after {
            border-bottom: 1px solid rgba($brand, 1);
            transform: scaleX(1);
        }
    }
}

.link--nav {
    &:after {
        height: 32px;
    }
}

.link--arrow {
    font-family: $mono;
    font-size: toRem(14px);

    @include sm {
        font-size: toRem(16px);
    }

    &:after {
        width: calc(100% - 22px);
        height: calc(100% + 3px);
        left: 22px;

        @include sm {
            width: calc(100% - 24px);
            left: 24px;
        }
    }

    span {
        margin-right: 4px;
        font-family: $mono;
    }
}