// links
// --------------------------------------------------
.link {
    position: relative;

    &:after {
        @include link(0);
    }
}

.no-touchevents {
    .link:hover:after {
        opacity: 1;
        transform: scaleX(1);
    }
}

.link--nav:after {
    height: calc(100% - 8px);
}


// link list
// --------------------------------------------------
.link-list {
    display: grid;
    grid-gap: space(4);
    font-family: $sans;

    @include respond-min($ml) {
        grid-gap: space(8);
    }
}

.link-list--small {
    grid-gap: space(2);

    .link-list__link {
        font-size: toRem(18px);
    }
}

.link-list__link {
    display: inline-block;
    margin-bottom: 4px;
    font-size: calc(20px + 0.8vw);
    line-height: $lh-title;
    transition: all 800ms $ease-out;
    box-shadow: inset 0 -1px 0 $brand;
}

.no-touchevents {
    .link-list__link:hover {
        letter-spacing: 0.06em;
        transition: all 800ms $ease-out;
    }
}