.grid {
    display: grid;
    @include full(fixed);
    grid-template-columns: repeat(2, 1fr);

    @include sm {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: $gutter;
    }

    @include md {
        grid-template-columns: repeat(8, 1fr);
    }

    @include lg {
        grid-template-columns: repeat(12, 1fr);
    }
}

.grid__col {
    border-left: 1px solid mix($light, $brand, 92%);
    border-right: 1px solid mix($light, $brand, 92%);
    height: 100vh;

    @include sm-max {
        &:nth-child(2) {
            margin-left: -1px;
        }
    }
}