html,
body {
    background-color: $light;
    font-family: $sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: $lh-copy;
    color: $brand;
}


a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    transition: $fade-link;
}

a {
    color: inherit;
}


button,
button:hover,
button:active,
button:focus,
button:visited,
input[type='button'],
input[type='submit'] {
	outline: none;
	transition: $fade-all;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid $grey-7;
}