.txt {
    max-width: 844px;
}


// ------------------------
.txt__heading {
    @include font(36px, bold, $lh-title);
    letter-spacing: toRem(-0.3px);

    @include sm {
        font-size: toRem(60px);
    }
}

.txt__heading--xl {
    @include sm {
        letter-spacing: toRem(-1px);
    }

    @include lg {
        font-size: toRem(96px);
        letter-spacing: toRem(-2px);
        line-height: 1.1;
    }
}


// ------------------------
.txt__subheading {
    @include font(24px, bold, $lh-title);
    letter-spacing: initial;

    @include sm {
        font-size: toRem(40px);
    }
}

.txt__body {
    font-size: toRem(18px);
    font-family: $serif;

    @include sm {
        font-size: toRem(24px);
    }
}

.txt__caption {
    font-family: $sans;
    font-weight: bold;
    font-size: toRem(10px);
    text-transform: uppercase;
    letter-spacing: toRem(3px);

    @include sm {
        font-size: toRem(12px);
    }
}