.main {
    position: relative;
    z-index: 1;
}

.content {
    padding-top: 134px;
    min-height: calc(100vh - 59px); // footer height

    @include respond-min($ml) {
        padding-top: 160px;
    }

    @include respond-min($l) {
        padding-top: 220px;
        min-height: calc(100vh - 99px); // footer height
    }
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 space(4);
    width: 100%;
    max-width: $xxxl;

    @include respond-min($l) {
        padding: 0 space(8);
    }
}

.section {
    position: relative;
    margin-bottom: space(15);

    @include respond-min($ml) {
        margin-bottom: space(30);
    }
}

.figure {
    position: relative;
    margin-bottom: space(8);

    @include respond-min($ml) {
        margin-bottom: space(16);
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.center {
    position: relative;
    @include center(flex);
}

.full-bg {
    @include full(absolute);
    @include bg(cover);
}

.offset:target:before {
    content: "";
    display: block;
    height: 120px;
    margin-top: -120px;
}