.txt {
    max-width: 844px;
}

.txt__heading {
    @include font(32px, bold, $lh-title);

    @include sm {
        font-size: toRem(56px);
    }
}

.txt__subheading {
    @include font(20px, bold, $lh-title);

    @include sm {
        font-size: toRem(32px);
    }
}

.txt__body {
    font-size: toRem(18px);

    @include sm {
        font-size: toRem(24px);
    }
}

.txt__caption {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: toRem(3px);
    font-size: toRem(10px);

    @include sm {
        font-size: toRem(12px);
    }
}