.rich-txt {
    h1,
    p {
        margin-bottom: 36px;

        @include sm {
            margin-bottom: $double-gutter;
        }
    }

    h1 {
        @extend .txt__heading;
    }

    h2 {
        @extend .txt__subheading;
        margin-bottom: 12px;

        @include sm {
            margin-bottom: $gutter;
        }
    }

    p {
        @extend .txt__body;
    }
}