.rich-txt {
    h1 {
        @include font(48px, bold, $lh-title);
        margin-bottom: $one-half-gutter;

        @include sm {
            font-size: toRem(96px);
            letter-spacing: toRem(-0.6px);
            margin-bottom: $double-gutter;
        }
    }

    h2 {
        @extend .txt__heading-s;
        margin-bottom: $gutter;
    }

    p {
        @extend .txt__body;
        margin-bottom: $gutter;

        &:last-child {
            margin-bottom: $one-half-gutter;

            @include sm {
                margin-bottom: $double-gutter;
            }
        }
    }

    a {
        text-decoration: underline;
    }
}