.main {
    // push footer to bottom
    display: grid;
    grid-template-rows: 1fr max-content;
    min-height: 100%;
}

.content {
    margin-top: 138px;
    
    @include sm {
        margin-top: 230px;
    }
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 $gutter;
    width: 100%;
    max-width: 1280 + $double-gutter * 2;

    @include md {
        padding: 0 $double-gutter;
    }
}

.section {
    position: relative;
    margin-bottom: $double-gutter;

    @include sm {
        margin-bottom: 96px;
    }
}

.center {
    position: relative;
    @include center;
}

.full-bg {
    @include full(absolute);
    @include bg(cover);
}