.txt {
    max-width: 750px;
}

.txt__heading-l {
    @include font(48px, bold, $lh-title);

    @include respond-min($ml) {
        font-size: toRem(104px);
        letter-spacing: toRem(-0.6px);
    }
}

.txt__heading-m {
    @include font(36px, bold, $lh-title);

    @include respond-min($ml) {
        font-size: toRem(60px);
    }

    @include respond-min($xxxl) {
        font-size: toRem(72px);
    }
}

.txt__heading-s {
    @include font(32px, bold, $lh-title);

    @include respond-min($ml) {
        font-size: toRem(54px);
    }
}

.txt__heading-xs {
    @include font(24px, bold, $lh-title);

    @include respond-min($ml) {
        font-size: toRem(32px);
    }
}

.txt__body {
    font-family: $sans;
    font-size: toRem(17px);

    @include respond-min($ml) {
        font-size: toRem(20px);
    }
}

.txt__caption {
    font-family: $sans;
    font-weight: 600;
    font-size: toRem(10px);
    text-transform: uppercase;
    letter-spacing: toRem(3px);

    @include respond-min($ml) {
        font-size: toRem(12px);
    }
}