.rich-txt {
    h1 {
        @extend .h-l;
        margin-bottom: space(6);

        @include respond-min($ml) {
            margin-bottom: space(8);
        }
    }

    h2 {
        @extend .h-s;
        margin-bottom: space(4);
    }

    p {
        @extend .txt-body;
        margin-bottom: space(4);

        &:last-child {
            margin-bottom: space(6);

            @include respond-min($ml) {
                margin-bottom: space(8);
            }
        }
    }

    a {
        position: relative;
        box-shadow: inset 0 -1px 0 $brand;
    }
}