/*-------------------
        Fonts
--------------------*/

@charset "UTF-8";

// custom font
@font-face {
	font-family: 'tw-sans-serif';
	src: url('/assets/fonts/tw-regular.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'tw-sans-serif';
	src: url('/assets/fonts/tw-bold.otf');
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: 'tw-mono';
	src: url('/assets/fonts/tw-mono.otf');
	font-weight: 400;
	font-style: normal;
}