.dark {
    background-color: $brand;
    color: $grey-8;

    svg {
        fill: $grey-8;
    }

    .header__logo {
        svg {
            stroke: $grey-8;
        }
    }

    .header__item,
    .link {
        &:after {
            border-color: $light;
        }
    }

    .grid__col {
        border-color: rgba($light, 0.07);
    }

    .tile {
        background-color: $brand;
        border-color: $light;

        &:hover {
            .tile__arrow {
                color: $brand;

                @include sm {
                    border-color: rgba($brand, 0);
                    background-color: rgba($brand, 0.1);
                }
            }
        }
    }

    .tile__img {
        background-color: $light;

        svg {
            fill: $brand;
        }
    }

    .tile__arrow {  
        @include sm {
            border-color: rgba($light, 0.15);
            background-color: rgba($light, 0.075);
        }
    }

    .modal {
        background-color: $brand;
    }

    .modal__close {
        svg {
            stroke: $light;
        }
    }

    .button {
        background-color: $light;
        color: $brand;
    }

    .toggle__button {
        border-color: $light;
        color: $light;

        &:hover,
        &.is-active {
            background-color: rgba($light, 0.1);
        }
    }

    hr {
        background-color: $light;
    }
}