.serif {
    font-family: $serif;

    .txt__heading {
        letter-spacing: 0;
    }

    .tile__subtitle {
        font-family: $serif;
    }

    .header__item--txt {
        position: relative;
        top: 2px;
    }
}