.modern {
    font-family: $sans;

    .serif-ns {
        display: inline;
    }

    .txt-body {
        font-family: $serif;
    }

    .tile {
        .link:after {
            height: calc(100% - 1px);
        }
    }

    .modal__label {
        font-family: $serif;
    }
}