.modern {
    font-family: $sans;

    .serif-ns {
        display: inline;
    }

    .txt__body {
        font-family: $serif;
    }

    .tile {
        .link:after {
            height: calc(100% - 1px);
        }
    }
}