$dark-dark: #1a1a1a;
$dark-light: #ccc;

.dark {
    background-color: $dark-dark;
    color: $dark-light;

    svg {
        fill: $dark-light;
    }

    .splash {
        background-color: $dark-light;
        color: $dark-dark;
    }

    .header__logo {
        svg {
            fill: $dark-light;
        }
    }

    .header__item,
    .link:after,
    .link:hover:after {
        border-color: $dark-light;
    }

    .tile {
        border-color: rgba($dark-light, 0.2);

        &:before {
            background-color: rgba($dark-light, 0.04);
            transition: opacity 350ms $ease;
        }

        &:hover {
            .link:after {
                border-color: $dark-light;
            }
        }
    }

    .modal {
        background-color: $dark-dark;
    }

    .modal__close {
        svg {
            stroke: $dark-light;
        }
    }

    .rich-txt a,
    .img-hover u {
        &:after {
            border-color: $dark-light;
        }
    }

    .button {
        border-color: $dark-light;
    }

    .button--primairy {
        background-color: $dark-light;
        color: $dark-dark;

        &:hover {
            background-color: $dark-light;
        }
    }

    .button--toggle {
        color: $dark-light;

        &:after,
        &:hover:after {
            border-color: $dark-light;
        }

        &.is-active {
            background-color: rgba($dark-light, 0.15);
        }
    }

    hr {
        background-color: $dark-light;
    }

    .cursor {
        border-color: rgba($white, 0.5);
    }
}