$dark-dark: #1a1a1a;
$dark-light: #ccc;

.dark {
    background-color: $dark-dark;
    color: $dark-light;

    svg {
        fill: $dark-light;
    }

    .header__logo {
        svg {
            fill: $dark-light;
        }
    }

    .header__item,
    .link {
        &:after {
            border-color: $dark-light;
        }
    }

    .grid__col {
        border-color: rgba($dark-light, 0.07);
    }

    .tile {
        background-color: $dark-dark;
        border-color: $dark-light;

        &:hover {
            .tile__arrow {
                color: $dark-dark;

                @include sm {
                    border-color: rgba($dark-dark, 0.1);
                    background-color: rgba($dark-dark, 0.05);
                }
            }
        }
    }

    .tile__img {
        background-color: $dark-light;

        svg {
            fill: $dark-dark;
        }
    }

    .tile__arrow {
        @include sm {
            border-color: rgba($dark-light, 0);
            background-color: rgba($dark-light, 0.1);
        }
    }

    .modal {
        background-color: $dark-dark;
    }

    .modal__close {
        svg {
            stroke: $dark-light;
        }
    }

    .button {
        border-color: $dark-light;
    }

    .button--primairy {
        background-color: $dark-light;
        color: $dark-dark;

        &:hover {
            background-color: $dark-light;
        }
    }

    .button--toggle {
        color: $dark-light;

        &.is-active {
            background-color: rgba($dark-light, 0.15);
        }
    }

    img {
        filter: brightness(0.88);
    }

    hr {
        background-color: $dark-light;
    }
}