.serif {
    font-family: $serif;

    .tile__subtitle {
        font-family: $serif;
    }

    .txt__body {
        letter-spacing: 0;
    }

    .tile {
        .link:after {
            height: 26px;
            @include sm {
                height: 30px;
            }
        }
    }
}