<!DOCTYPE html>
<html lang="nl-NL">

<head>

    <!-- META DATA -->
    <meta name="description" content="Utrecht based digital maker who's fond of designing with code." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />

    <!-- SOCIAL MEDIA -->
    <meta property="og:title" content="Tibor den Held /// Digital Design" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://tibor.work/assets/img/og.png" />
    <meta property="og:url" content="https://tibor.work" />
    <meta property="og:description" content="Utrecht based digital maker who's fond of designing with code." />

    <!-- DISPLAY ALL CHARACTER SYMBOLS -->
    <meta charset="utf-8" />

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="/assets/js/modernizr.js"></script>

    <!-- TITLE -->
    <title>
        {{ page.title }}
        {% unless page.layout=='default' %} /// Tibor den Held /// Digital Design{% endunless %}
    </title>

</head>

<body>

    <main class="main js-main">
        {% unless page.no-grid %}
        {% include grid.html %}
        {% endunless %}

        {% include header.html %}
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </main>
    {% include modal.html %}

    <!-- JAVASCRIPT -->
    <script src="/assets/js/plugins.bundle.min.js"></script>
    <script src="/assets/js/generic.js"></script>
    <script src="/assets/js/img-hover.js"></script>
    <script src="/assets/js/settings.js"></script>

</body>

</html>