<!DOCTYPE html>
<html lang="en">

<head>
    <!-- DISPLAY ALL CHARACTER SYMBOLS -->
    <meta charset="utf-8" />

    <!-- META DATA -->
    <meta name="description" content="{{ page.og.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SOCIAL MEDIA -->
    <meta property="og:title" content="{{ page.title }}{% unless page.index %} — {% endunless %}
          Tibor den Held{% if page.index %} — Product Designer &amp; Creative Developer{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://tibor.work{{ page.og.img }}" />
    <meta property="og:url" content="https://tibor.work{{ page.url | remove: '.html' }}" />
    <meta property="og:description" content="{{ page.og.description }}" />

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="/assets/js/modernizr.js"></script>

    <!-- TITLE -->
    <title>
        {{ page.title }}
        {% unless page.index %} — {% endunless %}
        Tibor den Held{% if page.index %} — Product Designer &amp; Creative Developer{% endif %}
    </title>

    <script>
        // #fix safari back button browser cache issue
        window.onpageshow = (e) => {
            if (e.persisted) window.location.reload();
        }
    </script>

</head>

<body>
    {% include loader.html %}
    {% include cursor-tile.html %}
    <main class="main">
        {% include header.html %}
        <div class="content js-loader-fade">
            {{ content }}
        </div>
        {% include footer.html %}
    </main>
    {% include modal.html %}
    {% include cursor.html %}

    <!-- JAVASCRIPT -->
    <script src="/assets/js/plugins.bundle.min.js"></script>
    <script src="/assets/js/generic.js"></script>
    <script src="/assets/js/cursor.js"></script>
    <script src="/assets/js/img-hover.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/reveal-on-scroll.js"></script>
    <script src="/assets/js/loader.js"></script>

</body>

</html>