---
layout: default
---

<article class="section">
    <div class="container">
        <header class="mb-8 mb-16-md">
            <h1 class="txt__heading-l v-hidden js-split-words">
                {{ page.title }}
            </h1>
        </header>

        <ul class="link-list section">
            {% for entry in page.experiments %}
                <li class="js-scroll js-tr tr-fi-up tr-1000">
                    <a href="{{ entry.url }}" target="_blank" rel="noreferrer" class="link-list__link">
                        {{ entry.title }}
                    </a>
                    <p class="tile__subtitle">{{ entry.description }}</p>
                </li>
            {% endfor %}
        </ul>

        {{ content }}
    </div>
</article>