---
layout: default
no-grid: true
---

<section class="section">
    <div class="container">
        <div class="txt rich-txt">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <img src="{{ page.hero }}" />
        {% for entry in page.section %}
        {% if entry.title %}
        <div class="txt rich-txt mt-8 mt-16-sm">
            <hr class="mxw-50 ml-0">
            <h2>{{ entry.title }}</h2>
            <p>{{ entry.description }}</p>
        </div>
        {% endif %}
        {% if entry.img %}
        <div class="pa-4 pa-8-sm" style="background-color: {{ page.bg-color }};">
            <img src="{{ entry.img }}" alt="{{ entry.title }}" />
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="txt__subheading mb-2 mb-4-sm">More work</h2>
        <div class="tile-grid tile-grid--related">
            {% for entry in site.posts %}
                {% capture i %}{{ page.title }}{% endcapture %}
                {% if entry.title==i %}
                {% continue %}
                {% endif %}
                {% include tile.html %}
            {% endfor %}
        </div>
    </div>
</section>