---
layout: default
---

<section class="section a a-fi">
    <div class="container">
        <h1 class="txt__heading-l mb-4 mb-6-sm">
            {{ page.title }}
        </h1>
        <p class="txt txt__body">{{ page.description }}</p>
    </div>
</section>

<section class="section">
    <div class="container">
        <ul class="g g-4-md g-6-lg col-gap-4 row-gap-4">
            <li class="js-scroll-magic">
                <hr class="mxw-50 ml-0 js-tr tr-stag">
                <h3 class="meta js-tr tr-stag">Role</h3>
                <p class="f18 js-tr tr-stag">{{ page.role }}</p>
            </li>
            <li class="js-scroll-magic">
                <hr class="mxw-50 ml-0 js-tr tr-stag">
                <h3 class="meta js-tr tr-stag">Technologies</h3>
                <p class="f18 js-tr tr-stag">{{ page.technologies }}</p>
            </li>
            <li class="js-scroll-magic">
                <hr class="mxw-50 ml-0 js-tr tr-stag">
                <h3 class="meta js-tr tr-stag">When</h3>
                <p class="f18 js-tr tr-stag">{{ page.when }}</p>
            </li>
        </ul>
    </div>
</section>

{% for entry in page.section %}
<section class="section {{ entry.class }} {% unless entry.title %}section--tight{% endunless %}">
    <article class="container">
        {% if entry.title %}
        <div class="txt rich-txt js-scroll-magic">
            <hr class="mxw-50 ml-0 js-tr tr-stag">
            <h2 class="js-tr tr-stag">{{ entry.title }}</h2>
            {% for paragraph in entry.description %}
            <p class="js-tr tr-stag">{{ paragraph }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="js-scroll-magic">
            {% if entry.caption %}
            <figcaption class="txt__caption mb-2 js-tr tr-stag">{{ entry.caption }}</figcaption>
            {% endif %}

            {% if entry.img %}
            <img src="{{ entry.img }}" alt="{{ entry.img | replace: '/assets/img/uploads/', '' }}"
                class="{% unless entry.no-scroll-magic %}js-tr tr-fi-up tr-1500{% endunless %}" />
            {% endif %}
        </div>

        {% if entry.grid %}
        <div class="g {{ entry.grid.class }}">
            {% for col in entry.grid.items %}
            <div class="js-scroll-magic">
                {% if col.caption %}
                <figcaption class="txt__caption mb-2 js-tr tr-stag">{{ col.caption }}</figcaption>
                {% endif %}
                <img src="{{ col.img }}" alt="{{ col.img | replace: '/assets/img/uploads/', '' }}"
                    class="js-tr tr-stag" />
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </article>
</section>
{% endfor %}

<section class="section">
    {% capture i %}{{ page.title }}{% endcapture %}
    {% for entry in site.posts %}
    {% if entry.title==i %}
    {% continue %}
    {% endif %}
    {% include tile.html %}
    {% endfor %}
</section>