---
layout: default
---

<section class="section">
    <div class="container">
        <header class="mb-8 mb-12@ml">
            <h1 class="h-l mb-6 mb-8@ml">
                {{ page.title }}
            </h1>
            <p class="mxw-750 txt-body">{{ page.description }}</p>

            {% if page.button %}
            <div class="mt-4 mt-8@ml">
                <a href="{{ page.button.url }}" target="_blank" rel="noreferrer" class="button">
                    {{ page.button.text }}
                </a>
            </div>
            {% endif %}
        </header>

        <ul class="g g-4@l g-5@xxxl col-gap-4 row-gap-4 mb-8 mb-12@ml">
            <li class="js-scroll">
                <hr class="mxw-50 ml-0 js-tr tr-stag">
                <h3 class="meta js-tr tr-stag">Role</h3>
                <p class="txt-body f18@ml js-tr tr-stag">{{ page.role }}</p>
            </li>
            <li class="js-scroll">
                <hr class="mxw-50 ml-0 js-tr tr-stag">
                <h3 class="meta js-tr tr-stag">Technologies</h3>
                <p class="txt-body f18@ml js-tr tr-stag">{{ page.technologies }}</p>
            </li>
            <li class="js-scroll">
                <hr class="mxw-50 ml-0 js-tr tr-stag">
                <h3 class="meta js-tr tr-stag">When</h3>
                <p class="txt-body f18@ml js-tr tr-stag">{{ page.when }}</p>
            </li>
        </ul>

        <img src="{{ page.img }}" alt="Hero image for {{ page.title }}" class="js-scroll js-tr tr-fi-up tr-2000" />
    </div>
</section>

{% for entry in page.section %}
<section class="section">
    <div class="container">
        <div class="mxw-750 rich-txt js-scroll">
            <hr class="mxw-50 ml-0 js-tr tr-stag">
            <h2 class="js-tr tr-stag">{{ entry.title }}</h2>
            {% for paragraph in entry.description %}
            <p class="js-tr tr-stag">{{ paragraph }}</p>
            {% endfor %}
        </div>

        <div class="g {{ entry.grid }}">
            {% for item in entry.items %}
            {% if item.img %}
            <figure class="{{ item.class }} {% unless entry.grid %}figure{% endunless %} js-scroll">
                {% if item.caption %}
                <figcaption class="caption mb-2 js-tr tr-stag">{{ item.caption }}</figcaption>
                {% endif %}
                <img src="{{ item.img }}" alt="{{ item.img | replace: '/assets/img/uploads/', '' }}" class="{% unless item.no-scroll-magic %}js-tr tr-fi-up tr-2000{% endunless %}
                    {{ item.border }}" />
            </figure>
            {% endif %}

            {% if item.video %}
            <div class="figure o-hidden js-video js-scroll js-tr tr-fi-up tr-2000">
                <video class="video" preload="none" poster="{{ item.video.poster }}" autoplay muted loop playsinline>
                    <source src="{{ item.video.url }}" type="video/mp4">
                    </source>
                </video>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}

<section class="section">
    <div class="container">
        <h2 class="caption mb-2 mb-4@ml js-scroll js-tr tr-fi-up tr-1500">
            More work
        </h2>
        <div>
            {% capture i %}{{ page.title }}{% endcapture %}
            {% for entry in site.posts %}
            {% if entry.title==i %}
            {% continue %}
            {% endif %}
            {% include tile.html %}
            {% endfor %}
        </div>
    </div>
</section>